/* Estilo específico para o registro */
.register {
  width: 300px; /* Tamanho igual ao login */
  margin: 100px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register input[type="text"]:focus,
.register input[type="email"]:focus,
.register input[type="password"]:focus {
  border-color: #007bff;
}

.register button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Mesma cor do login */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.register button:hover {
  background-color: #0056b3;
}
